APP_ENV=local
APP_PORT=3100

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SSL=disable

REDIS_URL="redis://127.0.0.1:6379"
REDIS_PORT=6379

WEBSOCKET_HOST=http://127.0.0.1
WEBSOCKET_PORT=3030

JWT_AT_SECRET=
JWT_RT_SECRET=
JWT_AT_EXPIRE=1h
JWT_RT_EXPIRE=7d