APP_ENV=local
APP_PORT=

DB_HOST=postgresql://<user>:<pass>@127.0.0.1:5432/<db_name>
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_SSL=disable

WEBSOCKET_HOST=http://127.0.0.1
WEBSOCKET_PORT=3030

JWT_AT_SECRET=
JWT_RT_SECRET=
JWT_AT_EXPIRE=1h
JWT_RT_EXPIRE=7d